---
import ModernCardSolucion from '@/components/ModernCardSolucion.astro'
import DefaultLayout from '@/layouts/DefaultLayout.astro'

const ejerciciosFile = await Astro.glob('./ejercicios.md')
const soluciones = ejerciciosFile[0]?.frontmatter || []
---

<DefaultLayout title="Soluciones">
	<section>
		<div class="container">
			<h1>Soluciones</h1>
			<div class="grid-container">
				{
					soluciones?.map((solucion) => (
						<ModernCardSolucion
							title={solucion.title}
							description={solucion.description}
							urlGitHub={solucion.url}
						/>
					))
				}
			</div>
		</div>
	</section>
</DefaultLayout>

<style lang="scss">
	.grid-container {
		display: grid;
		grid-template-columns: 1fr;
		grid-gap: 4rem;

		@media (min-width: 550px) {
			grid-template-columns: repeat(2, 1fr);
			grid-gap: 2rem;
		}

		@media (min-width: 950px) {
			grid-template-columns: repeat(3, 1fr);
		}
	}
</style>
