---
const { frontmatter, url } = Astro.props

const { title, descripcion } = frontmatter // 'frontmatter' devuelve un JSON con todos los campos del .md
---

<a href={url}>
	<div
		class="w-92 relative h-56 rounded-md bg-slate-200 hover:bg-slate-300 dark:bg-zinc-800 dark:text-white dark:hover:bg-zinc-700">
		<div class="flex flex-col p-4">
			<h4
				class="mb-4 block font-sans font-semibold leading-snug tracking-normal antialiased dark:text-white">
				{title}
			</h4>
			<p class="line-clamp-4 text-black">
				{descripcion}
			</p>
		</div>
		<div class="flex-start p-2 pt-0">
			{
				frontmatter.videos ? (
					<a
						href={url + '/#videos'}
						class="boton mr-3 rounded-md px-4 py-1 text-center align-middle  dark:bg-zinc-900 dark:text-white dark:hover:bg-zinc-800">
						Videos
					</a>
				) : null
			}
			{
				frontmatter.ejercicios ? (
					<a
						href={url + '/#ejercicios'}
						class="boton mr-3 rounded-md  px-4 py-1 text-center align-middle  dark:bg-zinc-900 dark:text-white dark:hover:bg-zinc-800">
						Ejercicios
					</a>
				) : null
			}
		</div>
	</div>
</a>

<style>
	.boton {
		color: var(--neutral-300);
		background-color: var(--primary-300);
		display: inline-block;
		transition: transform 0.2s ease-in-out;
	}

	.boton:hover {
		transform: scale(1.2);
		color: var(--neutral-100);
	}
</style>
