---
import CardSecciones from './CardSecciones.astro'
import ModernWatchVideo from './ModernWatchVideo.astro'

const { videos, titulo } = Astro.props
---

<CardSecciones title={titulo || 'Videos de la semana'}>
	<div class="md:flex md:flex-wrap">
		{
			videos.map((video) => (
				<div class="md:w-1/2">
					<ModernWatchVideo
						title={video.nombre || video.Titulo}
						urlYoutube={video.urlYoutube || video.URL}
					/>
				</div>
			))
		}
	</div>
</CardSecciones>
